body{
    font-family: Garamond  ;
}

.left1{
    height: 500px;
    width: 25%;
    background-color: lavender;
    float:left;

}
#left2{
    height: 300px;
    width: 25%;
    background-color: lavender;
    float: left;
    
}

.right1{
    height: 150px;
    width: 75%;
    background-color: indigo;
    
    color: white;
    font-size: 200%;
    text-align: center;
    float: right;
}
#right2{
    height: 650px;
    width: 75%;
    background-color: lavender;
    font-size: 200%;
    text-align: center;
    float: right;
}

footer{
    background-color: indigo;
    color: white;
    text-align: right;
}
ul{
    list-style-type: square;
}

.img1{
    height: 250px;
    
}

.img2{
    width: 800px;
}

img:hover{
    padding: 4px;
    border:1px solid indigo ;
}

